/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--header-bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--text-size);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  inline-size: 100%;
  min-block-size: 668px;
  padding: var(--s-padding);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  top: var(--s-padding);
  right: var(--s-padding);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 10px;
}

.decorative__element::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  color: var(--btn-color);
  font-size: var(--text-size);
  line-height: 18px;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 70px;
  min-block-size: 26px;
  text-transform: lowercase;
}

.header__theme-menu-button:not(:disabled):hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px var(--accent-color);
  font-family: var(--main-font);
  font-weight: var(--text-bold);
}

.header__text {
  max-inline-size: 355px;
  max-block-size: 117px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--text-size);
  line-height: 23.4px;
  color: var(--text-color);
}

.content {
  display: grid;
  padding-inline: var(--s-padding);
  margin-block: 40px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accent-text {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--btn-color);
}

.content-section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-section__card p:first-of-type {
  padding-block-end: 30px;
}

.content__description {
  font-weight: 400;
  color: var(--description-color);
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--text-color);
}

.factors {
  padding-block-start: 35px;
  padding-block-end: 40px;
}

.advices {
  padding-block-end: 55px;
}

.content-section__advices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__subtitle {
  font-weight: 400;
  margin-top: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-section {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  min-block-size: 668px;
  background-color: var(--bg-color);
}

@media (width >= 768px) {
  .header {
    padding: 0px 20px 0px 0;
    padding-block-start: var(--s-padding);
    min-height: 1024px;
    grid-template-rows: 1fr 90px 1fr;
  }

  .decorated-zone::after {
    top: var(--m-padding);
    right: var(--m-padding);
  }

  .decorated-zone::before {
    bottom: var(--m-padding);
    left: var(--m-padding);
  }

  .decorative__element {
    top: 12px;
    right: 12px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: end;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
    inline-size: 50%;
    justify-self: end;
    align-self: center;
    margin-right: 0%;
    margin-top: -17px;
  }
  .content {
    display: grid;
    padding-inline: var(--m-padding);
    margin-block: 61px;
  }

  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .factors {
    padding-block-start: 60px;
    padding-block-end: 61px;
    display: grid;
  }
  .factors__title {
    max-inline-size: 235px;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block-end: 80px;
  }

  .gallery {
    gap: var(--m-padding);
  }

  .gallery-container {
    display: grid;
    gap: var(--m-padding);
    grid-template-areas: inherit;
  }

  .gallery-section:first-of-type {
    grid-column: 1 / 3;
  }

  .gallery-section:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery-section:nth-of-type(3) {
    grid-row: 2 / 4;
  }

  .gallery-section:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery-section:last-of-type {
    grid-column: 2 / 4;
  }

  .footer {
    min-height: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 100vh;
    padding: 20px;
    display: grid;
    position: relative;
    grid-template-rows: 1fr min-content 1fr;
    max-width: 1024px;
  }

  .decorative__element {
    top: 11px;
    right: 11px;
  }

  .header__theme-menu {
    display: flex;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    justify-content: center;
    flex-direction: row;
  }

  .header__theme-menu-button {
    padding: 0 13px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-inline-size: 491px;
    max-block-size: 71px;
    justify-self: end;
    align-self: center;
    margin-top: 17px;
  }
  .content {
    margin-block: 60px;
  }

  .reasons {
    display: grid;
    gap: 10px;
  }

  .factors {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .laptop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .factors__title {
    max-inline-size: 315px;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .footer {
    min-height: 768px;
  }
}
